<section class="container mx-auto" id="chatContainer">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h2>Welcome to your chat with Dr. {{{doctor.name}}}</h2>
        </div>
        <div class="card-body">
          {{{#each chats as |chat|}}}
          <div class="row">
            <div class="col-sm-12">
              <p>{{{chat.author}}} said: {{{chat.text}}}</p>
            </div>
          </div>
          {{{/each}}}
        </div>
        <div class="card-footer">
          <div class="input-group mb-3">
            <input type="text" class="form-control" id="newChatMessage" placeholder="Your Message..."
              aria-label="Your Message" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-primary" type="button" id="newChatMessageBtn">Send
                Message</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>