<section class="container mx-auto" id="patientLoginWelcome">
  <div calss="row" style="margin: 0px;">
    <div class="col-sm-12 mx-auto" id="patientRegistration" style="margin: 30px;">
      <div id="portalHeader">
        <h2>Welcome To The Feedback Portal.</h2>
      </div>
    </div>
  </div>
</section>

<section class="carousel slide mx-auto container" >
  <form id="feedbackForm">
    <div class="form-row">
      <div class="form-group col-sm-12">
        <label for="feedbackSection">Feedback</label>
        <input type="text" class="form-control" id="feedbackSection" placeholder="Submit Your Feedback Here And Make Sure You Include Your Doctor Name...">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" id="submitFeedback">Submit Feedback</button>
  </form>
</section>





<script src="../js/patient_feedback.js"></script>