<section class="container mx-auto" id="portalContainer">
  <div class="row" style="margin: 30px;">
    <div class="col-sm-12 mx-auto" id="patientRegistration" style="margin: 30px;">
      <div id="portalHeader">
        <h2>Welcome to the Patient Portal.</h2>
      </div>
      <div id="portalSubheader">
        <h3>Please register by filling out this form.</h3>
        <p>Switch to <span><a href="./patient_login.html">Login</a></span></p>
      </div>
      <div id="portalForm">

        <form id="registrationForm">
          <div class="form-group col-sm-12">
            <label for="pRegisterTitle">Title</label>
            <select class="form-control" id="pRegisterTitle">
              <option>Mr. </option>
              <option>Ms. </option>
              <option>Mrs. </option>
            </select>
          </div>
          <div class="form-group col-sm-12">
            <label for="pRegisterFirstName">First Name</label>
            <input type="text" class="form-control" id="pRegisterFirstName" placeholder="John">
          </div>
          <div class="form-group col-sm-12">
            <label for="pRegisterLastName">Last Name</label>
            <input type="text" class="form-control" id="pRegisterLastName" placeholder="Watson">
          </div>
          <div class="form-group col-sm-12">
            <label for="pRegisterBirthDate" style="display: block;">Date of Birth</label>
            <input type="date" id="pRegisterBirthDate" name="trip-start" value="2000-01-01" min="1900-01-01"
              max="2003-01-01">
          </div>
          <div class="form-group col-sm-12">
            <label for="pRegisterEmail">Email</label>
            <input type="email" class="form-control" id="pRegisterEmail" placeholder="Email">
          </div>
          <div class="form-group col-sm-12">
            <label for="pRegisterPassword">Password</label>
            <input type="password" class="form-control" id="pRegisterPassword" placeholder="Password">
          </div>
          <button type="submit" class="btn btn-primary" id="patientRegisterSubmit">Register</button>
        </form>

      </div>
    </div>
  </div>

  <div class="modal fade" id="registrationFailModal" tabindex="-1" role="dialog"
    aria-labelledby="registrationFailModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="registrationFailModalTitle">Registration Error</h5>
          <button type="button" id="failModalCloseBtn" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Failed to register with these credentials. Please try again.</p>
        </div>
      </div>
    </div>
  </div>

</section>