html * {
  line-height: 1.5rem;
  font-family: "Merriweather", serif;
}

#logo {
  height: 125px;
  width: 200px;
}

.carousel {
  height: 500px;
  width: 750px;
}

.navbar {
  background-color: royalblue;
}

#carouselIndicators {
  margin: 20px 30px 20px 30px;
}

.carousel-caption {
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 120px;
  margin-right: 120px;
}

.card {
  width: 100%;
}

#portalContainer {
  background-color: silver;
  margin: 30px;
  padding: 20px;
}

#portalHeader {
  padding: 15px;
  margin: 15px;
  text-align: center;
}

#portalSubheader {
  padding: 15px;
  margin: 15px;
}

#portalForm {
  padding: 15px;
  margin: 15px;
}

#registerBirthDate {
  width: 100%;
  height: 50%;
}

.container {
  background-color: lightgrey;
  padding: 20px;
  margin: 30px;
}

#chooseDoctorCard {
  margin: 15px;
  padding: 5px;
  display: inline-flex;
}

#doctorImage {
  height: 200px;
  width: 17rem;
}

.form-check {
  padding: 5px;
  margin-right: 0px;
}

#testCard {
  padding: 10px;
  margin: 20px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  background: #222;
  color: white;
  text-align: center;
}
