html * {
  line-height: 1.5rem;
  font-family: "Merriweather", serif;
}

body {
  background-color: whitesmoke;
}

#logo {
  height: 150px;
  width: 200px;
}

.nav-link,
.dropdown-item {
  font-size: large;
}

#patientDashboardImg {
  height: 200px;
  width: 175px;
  margin: 15px;
}

.nav-link {
  margin: 20px;
}

.dropdown-item:hover {
  background-color: rgb(50, 49, 49);
}

.pressed {
  color: white;
  font-size: larger;
}

#patientLogoutBtn,
#doctorLogoutBtn {
  cursor: pointer;
}

.container {
  box-shadow: 2px 2px 4px 2px #767676;
  margin-bottom: 50px;
}

.carousel,
.carousel-item {
  height: 600px;
  width: 1100px;
}

.carousel-caption {
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin-left: 120px;
  margin-right: 120px;
}

#registrationWelcome,
#patientLoginWelcome,
#doctorLoginWelcome {
  background-color: whitesmoke;
}

.navbar {
  background-color: black;
}

.card {
  width: 100%;
  background-color: whitesmoke;
  border: 0px;
}

#portalContainer {
  margin: 30px;
  padding: 20px;
}

#portalHeader {
  padding: 15px;
  margin: 15px;
  text-align: center;
}

#portalSubheader {
  padding: 15px;
  margin: 15px;
}

#portalForm {
  padding: 15px;
  margin: 15px;
}

#registerBirthDate {
  width: 100%;
  height: 50%;
}

.container {
  padding: 20px;
  margin: 40px;
}

#patientVisitContainer .card .card-body li {
  /* border: 1px solid grey; */
  padding: 10px;
}

#previousVisitBody {
  overflow-y: auto;
  height: 400px;
}

#previousVisitRow {
  display: block;
  border-bottom: 1px solid black;
}

#chooseDoctorCard {
  margin: 15px;
  padding: 5px;
  display: inline-flex;
}

#doctorImage {
  height: 200px;
  width: 17rem;
}

.form-check {
  padding: 5px;
  margin-right: 0px;
}

#testCard {
  padding: 10px;
  margin: 20px;
}

#doctorDashboardImg {
  height: 250px;
  width: 250px;
  box-shadow: 2px 2px 4px #767676;
  margin: 15px;
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 30px;
  background: #222;
  color: white;
  text-align: center;
  margin-top: 20px;
}

.splash,
.splash.fade-out {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 200;
  background-image: url(https://images.unsplash.com/photo-1604467581765-39485a42edeb?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwxfDB8MXxhbGx8fHx8fHx8fHwxNjE2Mzg5MDYx&ixlib=rb-1.2.1&q=80&w=1080&utm_source=unsplash_source&utm_medium=referral&utm_campaign=api-credit);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

.splash.fade-out {
  opacity: 0;
  z-index: -10;
  text-align: center;
  transition: all 1s;
}

.splash.display-none {
  display: none;
}

#splashImage {
  height: 200px;
  width: 200px;
}

#splashTitle,
#splashSubTitle,
#splashText {
  font-size: 30px;
}

#splashSubtitle {
  /* line-height: 50vh; */
}

#splashText {
  /* line-height: 50vh; */
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

.fade-in1 {
  opacity: 0;
  animation: fadeIn 2s ease-in forwards;
}

.fade-in2,
.fade-in3 {
  opacity: 0;
  animation: fadeIn 3s ease-in forwards;
}
